img {
    width: 50%;
    margin: auto;
    
}

#main {
    font-family: 'Courier New', Courier, monospace;
}

#winner {
    font-family: 'Hanalei';
    font-size: 48px;
}

#button {
    font-family: 'MuseoModerno', cursive;;
    color: white;
    font-size: 48px;
    border: 2px solid white;
    background-color: #906DF2;
    margin: auto;
    width: 50%;
}

#reset {
    font-family: 'MuseoModerno', cursive;;
    color: #906DF2;
    font-size: 28px;
    border: 2px solid white;
    background-color: #1A2C7F;
    
    margin: auto;
    width: 50%;
}

body {
    margin: auto;
    width: 50%;
    background-image: url("https://i.pinimg.com/474x/56/2e/ec/562eeca8354a023df168eb9e1c516821--minimalist-wallpaper-iphone-backgrounds.jpg");
    
}